
  .main-home {
    /*background: #000000;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  #121317 0%, rgba(15,51,92,1) 90% );*/
    min-height: 80vh;
    padding-top: 2rem;
  }


  .home-icon:hover{
    font-size: 2.5rem;
    margin-top: 20px;
    margin-left: 50px;
  }


.my-name{
      color: white;
      font-family:'Courier New', Courier, monospace;
      font-style: normal;
      letter-spacing: 0.125em;
      font-size: 3rem;
  }

.m-btn{
    min-width: 10%;
    width: 100px;
    background-color: #06111C;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    color: white;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 30%;
  }

  .btn-gp{
      padding: 1rem;
      
  }

  .avatar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    min-width: 60px;
    max-width: 100px;
    width:25%;
    height:auto;
    border-radius: 50%;
  }

  .intro-txt{
      width: 40%;
      display: flex;
      flex-direction: column;
      align-self: center;
      margin: 1rem;
      text-align: justify;
      font-family: 'Courier New', Courier, monospace;
  }
  .q-btn:hover{
    box-shadow: 5px 5px 3px rgba(0,0,0,0.3);
    background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  #160101 0%, rgba(15,51,92,1) 90% );
  }
  .short{
   font-family: 'Courier New', Courier, monospace;
  }

  /* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}




  @media screen and (max-width: 650px) {
    .intro-txt {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: justify;
        font-family: 'Courier New', Courier, monospace;
    }
}


@media screen and (max-width: 600px) {
    .my-name{
        color: white;
        font-family:'Courier New', Courier, monospace;
        font-style: normal;
        letter-spacing: 0.125em;
        font-size: 2rem;
    }
}