.c_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    margin-bottom: 5rem;
}

.c_container .c_card{
    position: relative;
    max-width: 400px;
    max-height: 300px;
    width: 600px;
    height: 400px;
    /*box-shadow: 20px 20px 50px rgba(0,0,0,0.5);*/
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.title{
    position:absolute;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 300px;
    width: 600px;
    height: 400px;
    
}

.c_container .c_card .title h2{
    position: relative;
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.15);
    pointer-events: none;
}
.c-avatar {
    width: 100%;
    min-width: 50%;
    padding: 0;
    opacity: 0.9;
}


/* content and hover effect */
.c_container .c_card .c_content{
    padding: 20px;
    text-align: center;
    transform:translateY(50px);
    opacity: 0;
    transition: 0.5s;
}

.c_container .c_card:hover .c_content{
    transform: translateY(0px);
    opacity: 1;
    color: red;
}

/* content and hover effect */



.c_container .c_card .title h3{
    font-size: 1em;
    color: #fff;
    z-index: 1;
}

.c_container .c_card .c_content p{
    font-size: 1.2em;
    border: 1px blueviolet solid;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 0.4rem;
    color: red;
    font-weight: bold;
    margin-top: 50px;
}

.c_container .c_card .c_content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}