.projects-container{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.heading-title{
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Quicksand', sans-serif;
    border-bottom: 2px white solid;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.heading-title:hover{
    background-image: linear-gradient(45deg, #2400f1, #a1121e);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.underline{
    padding-bottom: 3px;
    border-bottom: 2px white solid;
    margin-bottom: 20px;
}

.skills-container{
    width: 90%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.sub-title{
    background-color: #06111C;
    padding: 3px;
    color: #BB2020;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
}

.bottom-margin-d{
    margin-bottom: 150px;
}

.quote-holder{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.quote{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Quicksand', sans-serif;
    color: white;
    width: 90%;
    text-align: justify;
}
.quote-writer{
    width: 90%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 189, 247);
    text-align: left;
}


@media screen and (min-width: 700px) {
    .skills-container{
        margin-top: 5%;
        margin-bottom: 2%;
        width: 50%;
    }
  }

@media screen and (min-width: 660px) {
    .quote{
        /* font-family: 'Courier New', Courier, monospace; */
        font-family: 'Quicksand', sans-serif;
        color: white;
        width: 40%;
        text-align: left;
    }
    .quote-writer{
        width: 40%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(0, 189, 247);
        text-align: left;
    }
    .qs{
        font-size: 1rem;
        text-align: center;
    }

  }


  /* Scroll Bar */
  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  #121317 0%, rgba(15,51,92,1) 90% );
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  #BB2020 0%, rgba(15,51,92,1) 90% );
    border-radius: 10px;
    border:1px solid rgba(0, 0, 250, 0.3);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgba(15,51,92,1) 0%, #BB2020 90% );
  }